a { 
    text-decoration: none;
    color: #333333;
}

h3 {
    font-size: 17px;
    margin-bottom: 10px;
}

header, footer {
    display:none;
}

@page { 
    margin-left:0.79in;
    margin-right:0.79in;
    margin-top:0.79in;
    margin-bottom:0.79in;
}

.page-break{
    page-break-before:always;
}
